@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;300;500;700;900&family=Pathway+Gothic+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 100%;
  background: #f3e13e; }
  header .inner {
    width: 1400px;
    margin: 0 auto; }
    header .inner h1 {
      font: 900 26px/1 'M PLUS 1';
      color: #111;
      padding: 10px 0 30px; }
    header .inner ul {
      display: flex; }
      header .inner ul li {
        width: 16.666%;
        height: 70px; }
        header .inner ul li:nth-of-type(n+6) {
          width: 8.333%;
          text-align: center; }
        header .inner ul li:nth-of-type(1) h2 {
          margin-bottom: 0; }
        header .inner ul li:nth-of-type(1) h3 {
          font: normal 24px/1 'Pathway Gothic One';
          color: #111;
          letter-spacing: normal;
          text-shadow: none; }
        header .inner ul li h2 {
          font: normal 16px/1 'Pathway Gothic One';
          color: #222;
          margin-bottom: 5px; }
        header .inner ul li h3 {
          font: bold 30px/1 'Pathway Gothic One';
          color: #fff;
          letter-spacing: 2px; }
        header .inner ul li i {
          font-size: 30px;
          margin-bottom: 5px; }

main {
  width: 100%;
  background: #393939; }
  main .inner {
    width: 1400px;
    margin: 0 auto; }
    main .inner section {
      width: 100%;
      padding-bottom: 50px; }
      main .inner section::after {
        content: '';
        display: block;
        clear: both; }
      main .inner section article {
        float: left;
        width: 16.666%;
        height: 25vh; }
        main .inner section article.item-sizer {
          width: 16.666%;
          height: 0;
          opacity: 0; }
        main .inner section article.item {
          padding: 7px 7px 0 0; }
          main .inner section article.item .article_inner {
            width: 100%;
            height: 100%;
            background: #bbb;
            position: relative;
            padding: 15px; }
            main .inner section article.item .article_inner > h1 {
              font: 16px/1 'Pathway Gothic One';
              color: #fff;
              margin-bottom: 10px; }
            main .inner section article.item .article_inner > h2 {
              font: 28px/1 'Pathway Gothic One';
              color: #333; }
            main .inner section article.item .article_inner > p {
              font: 12px/1.6 'M PLUS 1';
              color: #fff; }
            main .inner section article.item .article_inner > span {
              display: block;
              position: absolute;
              bottom: 15px;
              left: 15px;
              font: 300 12px/1 'M PLUS 1';
              color: #fff; }
            main .inner section article.item .article_inner > i {
              position: absolute;
              bottom: 15px;
              right: 15px;
              font-size: 12px;
              color: #fff; }
            main .inner section article.item .article_inner ul {
              margin-top: 20px; }
              main .inner section article.item .article_inner ul li {
                font: 12px/1.6 'M PLUS 1';
                color: #fff; }
                main .inner section article.item .article_inner ul li::before {
                  content: '';
                  display: inline-block;
                  width: 7px;
                  height: 7px;
                  border-radius: 50%;
                  border: 1px solid #fff;
                  margin-right: 10px; }
          main .inner section article.item.width2 {
            width: 33.333%; }
            main .inner section article.item.width2 .article_inner {
              padding: 0; }
            main .inner section article.item.width2 img {
              width: 50%;
              height: 100%;
              object-fit: cover;
              opacity: 0.6; }
            main .inner section article.item.width2 .category {
              width: 50.1%;
              height: 100%;
              background: #47C3B0;
              position: absolute;
              bottom: 0;
              right: 0;
              padding: 15px;
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              main .inner section article.item.width2 .category h1 {
                font: 14px/1 'Pathway Gothic One';
                color: #fff; }
              main .inner section article.item.width2 .category p {
                font: 300 12px/1 'M PLUS 1';
                color: #fff; }
              main .inner section article.item.width2 .category i {
                position: absolute;
                bottom: 15px;
                right: 15px;
                font-size: 12px;
                color: #fff; }
            main .inner section article.item.width2 .title {
              display: inline-block;
              width: 60%;
              background: #35a796;
              position: absolute;
              top: 25%;
              right: 0;
              padding: 10px;
              padding-top: 0; }
              main .inner section article.item.width2 .title em {
                font: 14px/1 'Pathway Gothic One';
                color: #fff; }
              main .inner section article.item.width2 .title h1 {
                font: 30px/1 'Pathway Gothic One';
                color: #fff;
                margin-top: 5px; }
          main .inner section article.item.height2 {
            height: 50vh; }
            main .inner section article.item.height2 .article_inner {
              padding: 0; }
            main .inner section article.item.height2 img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: 0.6; }
            main .inner section article.item.height2 .category {
              height: 25%; }
            main .inner section article.item.height2 .title {
              width: 50%;
              height: 50%;
              top: auto;
              bottom: 0;
              right: auto;
              left: 0;
              padding-top: 10px; }
          main .inner section article.item:nth-of-type(2) .article_inner, main .inner section article.item:nth-of-type(18) .article_inner {
            background: #73daca; }
          main .inner section article.item:nth-of-type(3) .article_inner, main .inner section article.item:nth-of-type(15) .article_inner {
            background: #f0b008; }
            main .inner section article.item:nth-of-type(3) .article_inner h1, main .inner section article.item:nth-of-type(3) .article_inner span, main .inner section article.item:nth-of-type(3) .article_inner i, main .inner section article.item:nth-of-type(15) .article_inner h1, main .inner section article.item:nth-of-type(15) .article_inner span, main .inner section article.item:nth-of-type(15) .article_inner i {
              color: #555; }
          main .inner section article.item:nth-of-type(4) .article_inner, main .inner section article.item:nth-of-type(11) .article_inner {
            background: #ce95ce; }
            main .inner section article.item:nth-of-type(4) .article_inner .category, main .inner section article.item:nth-of-type(11) .article_inner .category {
              background: #b972b9; }
            main .inner section article.item:nth-of-type(4) .article_inner .title, main .inner section article.item:nth-of-type(11) .article_inner .title {
              background: #a343a3; }
          main .inner section article.item:nth-of-type(5) .article_inner, main .inner section article.item:nth-of-type(10) .article_inner, main .inner section article.item:nth-of-type(22) .article_inner {
            background: #ecc051; }
            main .inner section article.item:nth-of-type(5) .article_inner img, main .inner section article.item:nth-of-type(10) .article_inner img, main .inner section article.item:nth-of-type(22) .article_inner img {
              height: 50%; }
            main .inner section article.item:nth-of-type(5) .article_inner div, main .inner section article.item:nth-of-type(10) .article_inner div, main .inner section article.item:nth-of-type(22) .article_inner div {
              width: 100%;
              height: 50%;
              position: absolute;
              left: 0;
              bottom: 0;
              background: #f0b008;
              padding: 15px; }
              main .inner section article.item:nth-of-type(5) .article_inner div::after, main .inner section article.item:nth-of-type(10) .article_inner div::after, main .inner section article.item:nth-of-type(22) .article_inner div::after {
                content: '';
                display: block;
                border-bottom: 10px solid #f0b008;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                top: -10px;
                right: 20px; }
              main .inner section article.item:nth-of-type(5) .article_inner div h1, main .inner section article.item:nth-of-type(10) .article_inner div h1, main .inner section article.item:nth-of-type(22) .article_inner div h1 {
                font: 16px/1 'Pathway Gothic One';
                color: #555;
                margin-bottom: 10px; }
              main .inner section article.item:nth-of-type(5) .article_inner div h2, main .inner section article.item:nth-of-type(10) .article_inner div h2, main .inner section article.item:nth-of-type(22) .article_inner div h2 {
                font: 28px/1 'Pathway Gothic One';
                color: #333; }
              main .inner section article.item:nth-of-type(5) .article_inner div span, main .inner section article.item:nth-of-type(10) .article_inner div span, main .inner section article.item:nth-of-type(22) .article_inner div span {
                display: block;
                position: absolute;
                bottom: 15px;
                left: 15px;
                font: 300 12px/1 'M PLUS 1';
                color: #555; }
              main .inner section article.item:nth-of-type(5) .article_inner div i, main .inner section article.item:nth-of-type(10) .article_inner div i, main .inner section article.item:nth-of-type(22) .article_inner div i {
                position: absolute;
                bottom: 15px;
                right: 15px;
                font-size: 12px;
                color: #555; }
          main .inner section article.item:nth-of-type(6) .article_inner {
            background: #ebeb33; }
            main .inner section article.item:nth-of-type(6) .article_inner .category {
              background: #c5c506; }
            main .inner section article.item:nth-of-type(6) .article_inner .title {
              background: #999911; }
          main .inner section article.item:nth-of-type(7) .article_inner, main .inner section article.item:nth-of-type(13) .article_inner, main .inner section article.item:nth-of-type(17) .article_inner {
            background: #1bb3f0; }
          main .inner section article.item:nth-of-type(9) .article_inner, main .inner section article.item:nth-of-type(23) .article_inner {
            background: #47C3B0; }
            main .inner section article.item:nth-of-type(9) .article_inner h2, main .inner section article.item:nth-of-type(23) .article_inner h2 {
              color: #fff;
              font-size: 30px; }
            main .inner section article.item:nth-of-type(9) .article_inner span, main .inner section article.item:nth-of-type(23) .article_inner span {
              line-height: 1.6; }
          main .inner section article.item:nth-of-type(8) .article_inner, main .inner section article.item:nth-of-type(24) .article_inner {
            background: #ce95ce; }
            main .inner section article.item:nth-of-type(8) .article_inner .category, main .inner section article.item:nth-of-type(24) .article_inner .category {
              background: #e28bcc; }
            main .inner section article.item:nth-of-type(8) .article_inner .title, main .inner section article.item:nth-of-type(24) .article_inner .title {
              background: #b35c9d; }
          main .inner section article.item:nth-of-type(12) .article_inner {
            background: #035677; }
          main .inner section article.item:nth-of-type(16) .article_inner {
            background: #f3da96; }
            main .inner section article.item:nth-of-type(16) .article_inner .category {
              background: #f7c864; }
            main .inner section article.item:nth-of-type(16) .article_inner .title {
              background: #e4b040; }
          main .inner section article.item:nth-of-type(19) .article_inner {
            background: #f1c24b; }
            main .inner section article.item:nth-of-type(19) .article_inner .category {
              background: #e4a300; }
            main .inner section article.item:nth-of-type(19) .article_inner .title {
              background: #f0b008; }
          main .inner section article.item:nth-of-type(20) .article_inner {
            background: #ebeb5b; }
            main .inner section article.item:nth-of-type(20) .article_inner .category {
              background: #d6d60f; }
            main .inner section article.item:nth-of-type(20) .article_inner .title {
              background: #c4c409; }
          main .inner section article.item:nth-of-type(21) .article_inner {
            background: #035677; }
          main .inner section article.item:nth-of-type(22) .article_inner {
            background: #76d2f7; }
            main .inner section article.item:nth-of-type(22) .article_inner div {
              background: #1bb3f0; }
              main .inner section article.item:nth-of-type(22) .article_inner div::after {
                border-bottom-color: #1bb3f0; }
          main .inner section article.item:nth-of-type(23) .article_inner {
            background: #35a796; }
            main .inner section article.item:nth-of-type(23) .article_inner h2 {
              font-size: 44px;
              margin-bottom: 10px; }
            main .inner section article.item:nth-of-type(23) .article_inner em {
              font: 300 20px/1 'Pathway Gothic One';
              color: #fff; }

@media screen and (max-width: 1400px) {
  header .inner {
    width: 100%;
    padding: 0 20px; }

  main .inner {
    width: 100%;
    padding: 0 20px; } }
@media screen and (max-width: 1200px) {
  header .inner ul li h3 {
    font-size: 26px; }
  header .inner ul li i {
    font-size: 24px; }

  main .inner section article.item-sizer {
    width: 20%; }
  main .inner section article.item {
    width: 20%; }
    main .inner section article.item .article_inner > p {
      line-height: 1.4;
      font-weight: 300; }
    main .inner section article.item.width2 {
      width: 40%; }
    main .inner section article.item:nth-of-type(22) {
      height: 25vh; }
      main .inner section article.item:nth-of-type(22) .article_inner img {
        display: none; }
      main .inner section article.item:nth-of-type(22) .article_inner div {
        height: 100%; }
        main .inner section article.item:nth-of-type(22) .article_inner div::after {
          display: none; }
    main .inner section article.item:nth-of-type(24) {
      width: 20%; }
      main .inner section article.item:nth-of-type(24) .article_inner img {
        display: none; }
      main .inner section article.item:nth-of-type(24) .article_inner .category, main .inner section article.item:nth-of-type(24) .article_inner .title {
        width: 100%; } }
@media screen and (max-width: 980px) {
  header .inner h1 {
    font-size: 22px; }
  header .inner ul li:nth-of-type(1) h3 {
    font-size: 20px; }
  header .inner ul li h2 {
    font-size: 14px; }
  header .inner ul li h3 {
    font-size: 22px; }
  header .inner ul li i {
    font-size: 20px; }

  main .inner section article.item-sizer {
    width: 33.333%; }
  main .inner section article.item {
    width: 33.333%; }
    main .inner section article.item .article_inner > p {
      max-height: 10vh;
      overflow: hidden; }
    main .inner section article.item .article_inner > i {
      bottom: 30px; }
    main .inner section article.item.width2 {
      width: 66.666%; }
      main .inner section article.item.width2 .category i {
        bottom: 30px; }
    main .inner section article.item:nth-of-type(5) .article_inner div i, main .inner section article.item:nth-of-type(9) .article_inner div i {
      bottom: 30px; }
    main .inner section article.item:nth-of-type(17) .article_inner .title h1 {
      font-size: 24px; }
    main .inner section article.item:nth-of-type(22) {
      height: 50vh; }
      main .inner section article.item:nth-of-type(22) .article_inner img {
        display: block; }
      main .inner section article.item:nth-of-type(22) .article_inner div {
        height: 50%; }
        main .inner section article.item:nth-of-type(22) .article_inner div::after {
          display: block; }
    main .inner section article.item:nth-of-type(24) .article_inner img {
      display: block; }
    main .inner section article.item:nth-of-type(24) .article_inner .category {
      width: 50%; }
    main .inner section article.item:nth-of-type(24) .article_inner .title {
      width: 60%; } }
@media screen and (max-width: 540px) {
  header .inner h1 {
    font-size: 20px; }
  header .inner ul li {
    width: 25%; }
    header .inner ul li:nth-of-type(1) {
      display: none; }
    header .inner ul li:nth-of-type(n+6) {
      display: none; }

  main .inner {
    padding: 0;
    padding-left: 5px; }
    main .inner section article.item-sizer {
      width: 50%;
      height: 20vh; }
    main .inner section article.item {
      width: 50%;
      height: 20vh; }
      main .inner section article.item .article_inner i {
        display: none; }
      main .inner section article.item.width2 {
        width: 100%; }
        main .inner section article.item.width2 .article_inner .category i {
          bottom: 15px; }
        main .inner section article.item.width2 .article_inner .title h1 {
          font-size: 26px; }
      main .inner section article.item.height2 {
        height: 40vh; }
      main .inner section article.item:nth-of-type(4), main .inner section article.item:nth-of-type(6) {
        width: 50%;
        height: 40vh; }
        main .inner section article.item:nth-of-type(4) .article_inner img, main .inner section article.item:nth-of-type(6) .article_inner img {
          width: 100%;
          height: 50%; }
        main .inner section article.item:nth-of-type(4) .article_inner .category, main .inner section article.item:nth-of-type(6) .article_inner .category {
          width: 100%;
          height: 50%; }
        main .inner section article.item:nth-of-type(4) .article_inner .title, main .inner section article.item:nth-of-type(6) .article_inner .title {
          width: 100%;
          top: auto;
          bottom: 15%; }
      main .inner section article.item:nth-of-type(10) {
        height: 20vh; }
        main .inner section article.item:nth-of-type(10) .article_inner div {
          height: 100%; }
          main .inner section article.item:nth-of-type(10) .article_inner div::after {
            display: none; }
      main .inner section article.item:nth-of-type(18) {
        width: 50%; }
        main .inner section article.item:nth-of-type(18) .article_inner .category {
          width: 100%; }
        main .inner section article.item:nth-of-type(18) .article_inner .title {
          width: 100%; }
          main .inner section article.item:nth-of-type(18) .article_inner .title h1 {
            font-size: 21px; }
      main .inner section article.item:nth-of-type(23) .article_inner h2 {
        font-size: 34px; }
      main .inner section article.item:nth-of-type(23) .article_inner em {
        font-size: 17px; } }

/*# sourceMappingURL=style.css.map */
