@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;300;500;700;900&family=Pathway+Gothic+One&display=swap');
@import 'reset';

header{
    width: 100%;
    background: #f3e13e;

    .inner{
        width: 1400px;
        margin: 0 auto;

        h1{
            font: 900 26px/1 'M PLUS 1';
            color: #111;
            padding: 10px 0 30px;
        }
        ul{
            display: flex;

            li{
                width: 16.666%;
                height: 70px;

                &:nth-of-type(n+6){
                    width: 8.333%;
                    text-align: center;
                }
                &:nth-of-type(1){
                    h2{margin-bottom: 0;}
                    h3{
                        font: normal 24px/1 'Pathway Gothic One';
                        color: #111;
                        letter-spacing: normal;
                        text-shadow: none;
                    }
                }
                h2{
                    font: normal 16px/1 'Pathway Gothic One';
                    color: #222;
                    margin-bottom: 5px;
                }
                h3{
                    font: bold 30px/1 'Pathway Gothic One';
                    color: #fff;
                    letter-spacing: 2px;
                }
                i{
                    font-size: 30px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

main{
    width: 100%;
    background: #393939;

    .inner{
        width: 1400px;
        margin: 0 auto;

        section{
            width: 100%;
            padding-bottom: 50px;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            article{
                float: left;
                width: 16.666%;
                height: 25vh;

                &.item-sizer{
                    width: 16.666%;
                    height: 0;
                    opacity: 0;
                }
                &.item{
                    padding: 7px 7px 0 0;

                    .article_inner{
                        width: 100%;
                        height: 100%;
                        background: #bbb;
                        position: relative;
                        padding: 15px;

                        >h1{
                            font: 16px/1 'Pathway Gothic One';
                            color: #fff;
                            margin-bottom: 10px;
                        }
                        >h2{
                            font: 28px/1 'Pathway Gothic One';
                            color: #333;
                        }
                        >p{
                            font: 12px/1.6 'M PLUS 1';
                            color: #fff;
                        }
                        >span{
                            display: block;
                            position: absolute;
                            bottom: 15px;
                            left: 15px;
                            font: 300 12px/1 'M PLUS 1';
                            color: #fff;
                        }
                        >i{
                            position: absolute;
                            bottom: 15px;
                            right: 15px;
                            font-size: 12px;
                            color: #fff;
                        }
                        ul{
                            margin-top: 20px;

                            li{
                                font: 12px/1.6 'M PLUS 1';
                                color: #fff;

                                &::before{
                                    content: '';
                                    display: inline-block;
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;
                                    border: 1px solid #fff;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    &.width2{
                        width: 33.333%;

                        .article_inner{padding:0}
                        img{
                            width: 50%;
                            height: 100%;
                            object-fit: cover;
                            opacity: 0.6;
                        }
                        .category{
                            width: 50.1%;
                            height: 100%;
                            background: #47C3B0;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            h1{
                                font: 14px/1 'Pathway Gothic One';
                                color: #fff;
                            }
                            p{
                                font: 300 12px/1 'M PLUS 1';
                                color: #fff;
                            }
                            i{
                                position: absolute;
                                bottom: 15px;
                                right: 15px;
                                font-size: 12px;
                                color: #fff;
                            }
                        }
                        .title{
                            display: inline-block;
                            width: 60%;
                            background: #35a796;
                            position: absolute;
                            top: 25%;
                            right: 0;
                            padding: 10px;
                            padding-top: 0;

                            em{
                                font: 14px/1 'Pathway Gothic One';
                                color: #fff;
                            }
                            h1{
                                font: 30px/1 'Pathway Gothic One';
                                color: #fff;
                                margin-top: 5px;
                            }
                        }
                    }
                    &.height2{
                        height: 50vh;

                        .article_inner{padding:0}
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            opacity: 0.6;
                        }
                        .category{
                            height: 25%;
                        }
                        .title{
                            width: 50%;
                            height: 50%;
                            top: auto;
                            bottom: 0;
                            right: auto;
                            left: 0;
                            padding-top: 10px;
                        }
                    }
                    &:nth-of-type(2), &:nth-of-type(18){
                        .article_inner{
                            background: #73daca;
                        }
                    }
                    &:nth-of-type(3), &:nth-of-type(15){
                        .article_inner{
                            background: #f0b008;

                            h1, span, i{
                                color: #555;
                            }
                        }
                    }
                    &:nth-of-type(4), &:nth-of-type(11){
                        .article_inner{
                            background: rgb(206, 149, 206);

                            .category{
                                background: rgb(185, 114, 185);
                            }
                            .title{
                                background: rgb(163, 67, 163);
                            }
                        }
                    }
                    &:nth-of-type(5), &:nth-of-type(10), &:nth-of-type(22){
                        .article_inner{
                            background: #ecc051;

                            img{
                                height: 50%;
                            }
                            div{
                                width: 100%;
                                height: 50%;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                background: #f0b008;
                                padding: 15px;
                                height: 50%;
    
                                &::after{
                                    content: '';
                                    display: block;
                                    border-bottom: 10px solid #f0b008;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    position: absolute;
                                    top: -10px;
                                    right: 20px;
                                }
                                h1{
                                    font: 16px/1 'Pathway Gothic One';
                                    color: #555;
                                    margin-bottom: 10px;
                                }
                                h2{
                                    font: 28px/1 'Pathway Gothic One';
                                    color: #333;
                                }
                                span{
                                    display: block;
                                    position: absolute;
                                    bottom: 15px;
                                    left: 15px;
                                    font: 300 12px/1 'M PLUS 1';
                                    color: #555;
                                }
                                i{
                                    position: absolute;
                                    bottom: 15px;
                                    right: 15px;
                                    font-size: 12px;
                                    color: #555;
                                }
                            }
                        }
                    }
                    &:nth-of-type(6){
                        .article_inner{
                            background: rgb(235, 235, 51);

                            .category{background: rgb(197, 197, 6);}
                            .title{background: rgb(153, 153, 17);}
                        }
                    }
                    &:nth-of-type(7), &:nth-of-type(13), &:nth-of-type(17){
                        .article_inner{background: rgb(27, 179, 240);}
                    }
                    &:nth-of-type(9), &:nth-of-type(23){
                        .article_inner{
                            background: #47C3B0;

                            h2{
                                color: #fff;
                                font-size: 30px;
                            }
                            span{
                                line-height: 1.6
                            }
                        }
                    }
                    &:nth-of-type(8), &:nth-of-type(24){
                        .article_inner{
                            background: rgb(206, 149, 206);

                            .category{
                                background: rgb(226, 139, 204);
                            }
                            .title{
                                background: rgb(179, 92, 157);
                            }
                        }
                    }
                    &:nth-of-type(12){
                        .article_inner{
                            background: #035677;
                        }
                    }
                    &:nth-of-type(16){
                        .article_inner{
                            background: rgb(243, 218, 150);

                            .category{background: rgb(247, 200, 100)}
                            .title{background: rgb(228, 176, 64);}
                        }
                    }
                    &:nth-of-type(19){
                        .article_inner{
                            background: #f1c24b;

                            .category{background: #e4a300;}
                            .title{background: #f0b008;}
                        }
                    }
                    &:nth-of-type(20){
                        .article_inner{
                            background: rgb(235, 235, 91);

                            .category{background: rgb(214, 214, 15);}
                            .title{background: rgb(196, 196, 9);}
                        }
                    }
                    &:nth-of-type(21){
                        .article_inner{background: #035677;}
                    }
                    &:nth-of-type(22){
                        .article_inner{
                            background: #76d2f7;

                            div{
                                background: #1bb3f0;

                                &::after{border-bottom-color: #1bb3f0;}
                            }
                        }
                    }
                    &:nth-of-type(23){
                        .article_inner{
                            background: #35a796;

                            h2{
                                font-size: 44px;
                                margin-bottom: 10px;
                            }
                            em{
                                font: 300 20px/1 'Pathway Gothic One';
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px){
    header{
        .inner{
            width: 100%;
            padding: 0 20px;
        }
    }

    main{
        .inner{
            width: 100%;
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 1200px){
    header{
        .inner{
            ul li{
                h3{
                    font-size: 26px;
                }
                i{
                    font-size: 24px;
                }
            }
        }
    }

    main{
        .inner{
            section{
                article{
                    &.item-sizer{
                        width: 20%;
                    }
                    &.item{
                        width: 20%;

                        .article_inner{
                            >p{
                                line-height: 1.4;
                                font-weight: 300;
                            }
                        }
                        &.width2{
                            width: 40%;
                        }
                        &:nth-of-type(22){
                            height: 25vh !important;

                            .article_inner{
                                img{display: none;}
                                div{
                                    height: 100%;

                                    &::after{
                                        display: none;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(24){
                            width: 20%;

                            .article_inner{
                                img{display: none;}
                                .category, .title{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px){
    header{
        .inner{
            h1{
                font-size: 22px;
            }
            ul li{
                &:nth-of-type(1){
                    h3{
                        font-size: 20px;
                    }
                }
                h2{
                    font-size: 14px;
                }
                h3{
                    font-size: 22px;
                }
                i{
                    font-size: 20px;
                }
            }
        }
    }

    main{
        .inner{
            section{
                article{
                    &.item-sizer{
                        width: 33.333%;
                    }
                    &.item{
                        width: 33.333%;

                        .article_inner{
                            >p{
                                max-height: 10vh;
                                overflow: hidden;
                            }
                            >i{
                                bottom: 30px;
                            }
                        }
                        &.width2{
                            width: 66.666%;

                            .category i{
                                bottom: 30px;
                            }
                        }
                        &:nth-of-type(5), &:nth-of-type(9){
                            .article_inner div i{
                                bottom: 30px;
                            }
                        }
                        &:nth-of-type(9){
                            width: 66.666%;
                        }
                        &:nth-of-type(17){
                            .article_inner .title h1{font-size: 24px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px){
    header{
        .inner{
            h1{
                font-size: 20px;
            }
            ul li{
                &:nth-of-type(1){display: none;}
                &:nth-of-type(n+6){display: none;}
                width: 25%;
            }
        }
    }

    main{
        .inner{
            padding: 0;
            padding-left: 5px;

            section{
                article{
                    &.item-sizer{
                        width: 50%;
                    }
                    &.item{
                        width: 50%;

                        .article_inner{
                            >i{display: none;}
                        }
                        &.width2{
                            width: 100%;

                            .article_inner{
                                .category i{
                                    bottom: 15px;
                                }
                            }
                        }
                        &:nth-of-type(4), &:nth-of-type(6){
                            width: 50%;
                            height: 40vh;

                            .article_inner{
                                img{
                                    width: 100%;
                                    height: 50%;
                                }
                                .category{
                                    width: 100%;
                                    height: 50%;
                                }
                                .title{
                                    width: 100%;
                                    top: auto;
                                    bottom: 15%;
                                }
                            }
                        }
                        &:nth-of-type(5){
                            .article_inner{
                                div i{
                                    bottom: 15px;
                                }
                            }
                        }
                        &:nth-of-type(9){
                            width: 50%;

                            .article_inner{
                                div i{
                                    bottom: 15px;
                                }
                                img{
                                    display: none;
                                }
                                div{
                                    width: 100%;
                                }
                            }
                        }
                        &:nth-of-type(17){
                            width: 50%;

                            .article_inner{
                                img{display: none;}
                                .category{
                                    width: 100%;
                                }
                                .title{
                                    width: 100%;
                                    
                                    h1{font-size: 19px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}